/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://p4.wallpaperbetter.com/wallpaper/61/984/903/simple-background-gradient-wallpaper-preview.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #e9d9eb;
  }

  